exclude: ^\.bumpversion\.cfg$
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
        - id: uv-lock
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ["--fix", "--verbose"]
      - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        args: [--strict, --ignore-missing-imports]
        exclude: ^tests/
        additional_dependencies: ['pydantic>=2.11.7']
